{% extends 'base.html' %}

{% block content %}
<style>
    .error-message {
        margin-top: 10px;
    }
    
    .error-text {
        color: red;
        font-weight: bold;
    }

    /* Set the background image */
body {
}

/* Set the opacity */
body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the opacity by changing the last value (0.5) */
    z-index: -1; /* Place it behind other content */
}

</style>
<body class="mybg">
<div class="login-container">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
        {% if form.errors %}
        <div class="error-message">
            <p class="error-text">Invalid username or password.</p>
        </div>
        {% endif %}
    </form>
</div>

</body>
{% endblock %}
