
{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

{% block content %}
<style>
    .patient-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<a href="{% url 'patients_info' %}" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> Back
</a>

<div class="patient-content">
    <h2>Primary Tumor Distribution</h2>
    <div class="patient-content">
        <!-- ... Your existing patient table ... -->
        <!-- Display the pie chart image -->
        <img src="{% static 'pie_chart.png' %}" alt="Pie Chart" class="pie-chart">
    </div>
</div>

{% endblock %}
